#header {
    background-color:#000000;
    padding: 5px 10px;
}
#leftpane {
    padding-left: 15px;
    width: 200px;
    overflow: scroll;
}
#button {
    overflow: hidden;
}
#ref {
    margin-top: 50px;
    position:fixed;
    top: 10%;
    left: 10%;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
