<!DOCTYPE html>
<html>
  <head>
    <title>Completed Assignments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
     #header {
      background-color:black;
      color:white;
      text-align:center;
      padding:5px;
      }
       #footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <h1><a class="btn btn-default btn-lg" href="./nav.html" role="button"><span class="glyphicon glyphicon-book" aria-hidden="true">BibEdit</span></a></h1>

    </div>

    <div class="container" >
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
    <div class="navbar-fixed-bottom" align="center">
      <p>Copyright &copy; Bridgeconn 2016</p>
    </div>

  </body>
</html>
