<!DOCTYPE html>
<html lang="en">

  <head>
    <title >BibEdit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="views/css/style.css">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" >
        <div class="navbar-header">
          <a class="navbar-brand" href="app/views/index.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>BibleEdit</a>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Search</a></li>
          <li ><a href="#">Dashboard</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        </div>
        <div class="navbar-footer navbar-fixed-bottom" align="center">
          <p>Copyright &copy; Bridgeconn 2016</p>
        </div>
      </div>
    </nav>


    <!-- <div class="container" align="center">
      <div class="jumbotron">
        <h1>ScriptureMaker (Bib-Edit)</h1>
        <h2>Welcome User</h2>
        <p><a class="btn btn-primary btn-lg" href="./assign.html" role="button">Continue</a></p>
      </div>
    </div> -->

  </body>

</html>

