<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Autographa Lite</title>
    <!-- Bootstrap core CSS-->
    <link href="../assets/stylesheets/style.css" rel="stylesheet">
    <!-- slider css -->
    <link href="../assets/stylesheets/bootstrap-slider.css" rel="stylesheet">
    <!-- material design files -->

    <link rel="stylesheet" href="../assets/stylesheets/material.light_blue-indigo.min.css" />
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="../assets/stylesheets/icon.css">
    <!-- material design files -->
    <style type="text/css">
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }

    </style>
    
</head>
    <body>
        <button type="button" class="close" id="update-close" style="margin: -40px 10px;">&times;</button>
    <div style="margin-top: -21px;"class="container-fluid">
       <h4 class="border-class">Autographa Update</h4>
            <div class="row row-col-fixed rmvflex">
                <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active custom-loading">
                </div>
                <h6 class="heading-loading" >Your update is being downloaded and installed. Please be patient as this may take a few minutes depending on your network speed.
                </h6>
               <!--  <div id="progressbar2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div> -->
            </div>
        </div>
        
        <!-- Placed at the end of the document so the pages load faster-->
        <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
        </script>
        <script src="../assets/javascript/vendor/jquery.min.js"></script>
        <script src="../assets/javascript/vendor/bootstrap.min.js"></script>
        <!-- <script src="../assets/javascript/vendor/bootstrap-switch.js"></script> -->
        <!-- Material design js -->
        <script src="../assets/javascript/vendor/material.min.js"></script>
        <script src="../controllers/loading.js"></script>

        <script>
          if (window.module) module = window.module;
          window.i18n = new(require('../../translations/i18n'));

        </script>
    </body>

</html>
